.wrapper {
    margin-right: 8px;
    margin-bottom: 4px;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 8px;
    display: inline-block;
    color: #ffffff;
    background-color: #183b56;
    border-color: #183b56;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
        0 1px 1px rgba(23, 31, 56, 0.075);
    display: inline-flex;
    align-items: center;

    &:hover {
        color: #ffffff;
        background-color: #102638;
        border-color: #0d202e;
        transform: translate(0, -2px);
        transition: all linear 0.2s;
    }
    
    &.reddish{
        background-color: var(--primary-trans-color);
        border-color: var(--primary-trans-color);
    }

    &.reddish:hover{
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }
    
    &.fullWidth{
        width: 100%;
    }
}